code for data collecting and storing it in excel sheets

In [ ]:
import requests

In [ ]:
import pandas as pd

In [ ]:
baseurl = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/datasets/githubposting.json"

In [ ]:
 response=requests.get(baseurl)

In [ ]:
def get_number_of_jobs(technology):
    number_of_jobs = 0
    payload={"description":technology,"page":1}
    r=requests.get(baseurl,params=payload)
    if r.ok:             # if all is well() no errors, no network timeouts)
        data = r.json()
        while len(data) == 50:
            payload['page'] = payload['page'] + 1
            r=requests.get(baseurl,params=payload)
            if response.ok:
                data = r.json()
                number_of_jobs += len(data)
        else:
            number_of_jobs += len(data)  
            
    return technology,number_of_jobs

In [ ]:
print(get_number_of_jobs('java'))

('java', 2)

In [ ]:
tech_list=['C','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']
tech_list

['C',
 'C#',
 'C++',
 'Java',
 'JavaScript',
 'Python',
 'Scala',
 'Oracle',
 'SQL Server',
 'MySQL Server',
 'PostgreSQL',
 'MongoDB']

In [ ]:
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
from openpyxl import Workbook

In [ ]:
wb=Workbook()                       
ws=wb.active

In [ ]:
ws.append(['Technology','Number_of_Jobs'])

for i in tech_list:
    ws.append(get_number_of_jobs(i))

In [ ]:
wb.save("github-job-postings.xlsx")

In [ ]:
job_data = pd.read_excel("github-job-postings.xlsx")
job_data

      Technology  Number_of_Jobs
0              C               2
1             C#               2
2            C++               2
3           Java               2
4     JavaScript               2
5         Python               2
6          Scala               2
7         Oracle               2
8     SQL Server               2
9   MySQL Server               2
10    PostgreSQL               2
11       MongoDB               2